<!DOCTYPE html>
<html>
  <head>

    {% block head %}
    <meta charset="utf-8">
    <title>Base</title>
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

  </head>
  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {%  if user.is_authenticated %}
      <a class="navbar-brand" href="/chat/">Gamnet</a>
      {% else %}
      <a class="navbar-brand" href="/accounts/login">Gamnet</a>
      {% endif %}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    {%  if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/accounts/logout/">Log Out</a></li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav">
        <!--<li><a href="/accounts/reset-password">Reset Password</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/accounts/register">Register</a></li>
      </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
<div class="container">

    {% block body%}
        <h1>base</h1>
    {% endblock %}
</div>
  </body>

{% block bottom %}
{% endblock %}
</html>
